<%# Copyright (C) 2023  LesalondugamingStudios. See the README file for more information. %>
<!DOCTYPE html>
<html lang="<%= l %>" data-bs-theme="dark">
<head>
  <%- include("../partials/head", { pageTitle: t("divers:link.terms") }) %>
</head>
<body>
  <header>
    <%- include("../partials/header") %>
  </header>

  <div class="app">
    <div class="content">
      <h1>POLITIQUE DE CONFIDENTIALITÉ DE SCP-277-FR</h1>
      <p><i>Mis à jour le 19 avril 2022</i></p>

      <p>Votre vie privée doit toujours rester privée.<br>
      Les Propriétaires se réservent le droit de modifier la Politique de Confidentialité à tout moment.</p>

      <h2>I. Que stockons-nous et pourquoi ?</h2>

      <p>Pour le bon fonctionnement de notre Bot, nous stockons uniquement l'identifiant associé à votre serveur avec vos paramètres. Cet identifiant est unique et fourni par Discord. Il est vital pour le bot de pouvoir identifier votre serveur d'une quelconque façon pour pouvoir retrouver vos paramètres sélectionnés (e.g. la langue du Bot). Aucune donnée utilisateur n'est stockée.</p>

      <h2>II. Où stockons-nous vos données ?</h2>

      <p>Vos données sont enregistrées dans une base de données propre à notre serveur. Le service d'hébergement est fourni par Be1Host SAS dont le siège social est situé à Paris, Île-de-France, France. L'infrastructure contenant le serveur sur lequel le Bot est hébergé est situé à Vélizy-Villacoublay, Île-de-France, France.</p>

      <h2>III. Partageons-nous vos données avec un tiers ?</h2>

      <p>Non. Vos données sont uniquement utilisées et stockées par nous. Aucun autre service n'a accès à vos données.</p>
    </div>
  </div>
</body>
</html>