<%# Copyright (C) 2023  LesalondugamingStudios. See the README file for more information. %>
<!DOCTYPE html>
<html lang="<%= l %>" data-bs-theme="dark">
<head>
  <%- include("../partials/head", { pageTitle: t("divers:link.terms") }) %>
</head>
<body>
  <header>
    <%- include("../partials/header") %>
  </header>

  <div class="app">
    <div class="content">
      <h1>CONDITIONS GÉNÉRALES D'UTILISATION DE SCP-277-FR</h1>
      <p><i>Mis à jour le 9 août 2023</i></p>

      <p>Ces Conditions Générales d'Utilisation régissent votre accès à nos services (SCP-277-FR). En utilisant nos services, Vous avez pris connaissance et acceptez automatiquement ces Conditions ainsi que notre Politique de Confidentialité. De plus, Vous avez également pris connaissance par le passé des Conditions d'Utilisation de Discord (<a href="https://discord.com/terms">https://discord.com/terms</a>) lors de l'utilisation du Bot ainsi que celles de Wikidot (<a href="http://www.wikidot.com/legal:terms-of-service">http://www.wikidot.com/legal:terms-of-service</a>)<br>
      Nous nous réservons le droit de modifier ces Conditions à tout moment.</p>

      <h2>I. Utilisation de nos Services</h2>

      <p>Toute personne utilisant nos services doit avoir plus de treize (13) ans.</p>

      <h2>II. Droits de Propriété Intellectuelle</h2>

      <p>Licence disponible <a href="https://github.com/LesalondugamingStudios/SCP-277-FR/#license">ici</a></p>

      <h2>III. Règles de Conduite</h2>

      <p>Le service ne doit pas être utilisé à des fins visant à dégrader l'expérience d'autres utilisateurs.<br>
        En utilisant le bot, vous devez respecter les Conditions d'Utilisation et la Charte d'Utilisation de la Communauté de Discord.</p>

      <h2>IV. Exclusion de garantie</h2>

      <p>Le service est fourni "en l'état", sans garantie d'aucune sorte, expresse ou implicite, y compris, mais sans s'y limiter, à des garanties de qualité marchande, d'adéquation à un usage particulier et d'absence de contrefaçon.<br>Le service ne donne aucune garantie quant à la disponibilité, l'exactitude ou la fiabilité.</p>

      <h2>V. Vos Données</h2>

      <p><a href="/privacy">Voir notre Politique de Confidentialité</a></p><br>

      <p><i>En cas de problèmes, de questions ou autres, vous pouvez nous contacter sur notre serveur Discord (<a href="/support">https://discord.gg/NyUukwA</a>) ou par courriel à l'adresse suivante : scpcorpd@gmail.com</i></p>
    </div>
  </div>
</body>
</html>